<label for="name">Name: </label>
<input type="text" name="" id="name" [formControl]="name">
<p>Value: {{name.value}}</p>
<button (click)="updateName()">Update Name</button>

<form [formGroup]="basvuruForm" (ngSubmit)="onSubmit()">
    <label for="first-name">First Name</label>
    <input type="text" id="first-name" formControlName="firstname">

    <label for="last-name">Last Name</label>
    <input type="text" id="last-name" formControlName="lastname">

    <div formGroupName="address">
        <h2>Address</h2>
        
        <label for="street">Street: </label>
        <input type="text" id="street" formControlName="street">

        <label for="city">City: </label>
        <input type="text" id="city" formControlName="city">

        <label for="state">State: </label>
        <input type="text" id="state" formControlName="state">

        <label for="zip">Zip Code: </label>
        <input type="text" id="zip" formControlName="zip">
    </div>
    
    <button type="submit" [disabled]="!basvuruForm.valid">Gönder</button>
</form>